
{% extends "core/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<header>
    <div class="navbar">
        <span class="menu-icon" onclick="openMenu()">&#9776;</span>
        <img src="{% static 'core/images/logo.png' %}" alt="V Planner Logo" class="logo">
    </div>
</header>
<main>
    <h2 class="welcome-title">Login</h2>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</main>
{% endblock %}