{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ page_title|default:"User Management" }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div id="management-app" class="card shadow-sm">
        <div class="card-body p-4">
            <h2 class="card-title mb-4">{{ page_title|default:"User Management" }}</h2>

            {% include "_messages.html" %}

            <p>{% trans "This is your management area. From here you can manage various aspects of your account and services." %}</p>

            <ul class="list-group list-group-flush">
                {% if request.user.professional_profile %}
                <li class="list-group-item">
                    <a href="{% url 'services:service_list' %}">{% trans "Manage My Services" %}</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'packages:template-list' %}">{% trans "Manage My Packages" %}</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'users:customer_management' %}">{% trans "Customer Management" %}</a>
                </li>
                {% endif %}
                {% if request.user.customer_profile %}
                <li class="list-group-item">
                    <a href="{% url 'users:customer_template_list' %}">{% trans "Add new services using templates" %}</a>
                </li>
                {% endif %}
                <li class="list-group-item">
                    <a href="{% url 'users:profile' %}">{% trans "View My Profile" %}</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'users:password_change' %}">{% trans "Change Password" %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
