.container--0- {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.container-0-1-1 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.container-1-2-0 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #a8d497;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-0 {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  justify-content: start;
  align-items: start;
}
.text-2-3-1 {
  width: 100%;
  height: 100%;
  color: #111111;
  font-size: 16px;
  font-family: Plus Jakarta Sans, "SemiBold";
  font-weight: 600;
  text-align: left;
  vertical-align: top;
}
.container-1-2-1 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-2 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-3 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-4 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-5 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-6 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-7 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-8 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-9 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-10 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-11 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-12 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #fdedf1;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
