.container--0- {
  position: relative;
  width: 320px;
  height: 1276px;
  background-color: #f4f6f3;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  justify-content: center;
  align-items: start;
  gap: 8px;
  display: flex;
  padding: 40px 24px 40px 24px;
}
.container-0-1-0 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.container-1-2-1 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.container-2-3-0 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #a8d497;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-3-4-0 {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  justify-content: start;
  align-items: start;
}
.text-3-4-1 {
  width: 100%;
  height: 100%;
  color: #111111;
  font-size: 16px;
  font-family: Plus Jakarta Sans, "SemiBold";
  font-weight: 600;
  text-align: left;
  vertical-align: top;
}
.container-2-3-1 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-2 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-3 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-4 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-5 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-6 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-7 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-8 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-9 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-10 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-11 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-12 {
  position: relative;
  width: 237px;
  height: 56px;
  background-color: #ffffff;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  padding: 16px 16px 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
